function RandomNumberGenerator.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push pointer 0
return
function RandomNumberGenerator.nextInt 2
push argument 0
pop pointer 0
push this 0
push constant 32719
call Math.multiply 2
pop local 0
push local 0
push constant 3
add
call Math.abs 1
pop local 1
label WHILE_EXP0
push local 1
push argument 1
gt
not
if-goto WHILE_END0
push local 1
push argument 1
sub
pop local 1
goto WHILE_EXP0
label WHILE_END0
push local 1
pop this 0
push this 0
return
