function Zelda.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 248
pop this 0
push constant 16
pop this 1
push pointer 0
call Zelda.draw 1
pop temp 0
push pointer 0
return
function Zelda.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Zelda.getX 0
push argument 0
pop pointer 0
push this 0
return
function Zelda.getY 0
push argument 0
pop pointer 0
push this 1
return
function Zelda.draw 1
push argument 0
pop pointer 0
push constant 16384
push this 0
push constant 16
call Math.divide 2
add
push this 1
push constant 32
call Math.multiply 2
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 2016
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 3024
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 3120
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 4080
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 7608
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 15996
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 13260
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 12300
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 14364
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 12300
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 9156
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 8196
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 16386
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Zelda.erase 1
push argument 0
pop pointer 0
push constant 16384
push this 0
push constant 16
call Math.divide 2
add
push this 1
push constant 32
call Math.multiply 2
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
